@import "minima";

/** Mixin for responsive design **/
@mixin breakpoint($class) {
  /** Breakpoints based on Bootstrap4 **/
  @if $class == xs {
    @media (max-width: 575px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: 1140px) {
      @content;
    }
  } @else if $class == xxl {
    @media (min-width: 1180px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg and xl";
  }
}

.UsersTableContainer { 
    overflow-x: auto;
}

.Main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    @include breakpoint(xl) {
        flex-direction: row;
    }
    &__Info {
      min-width: 250px;
      width: 20%;
    }
    &__Content { 
      overflow-x: auto;
    }
    
}

.User {
  &__image {
    width: 60px;
    min-width: 30px;
  }
}
.column {
    padding: 20px;
}

table {
    font-size: 12px;
    thead {
        font-weight: 600;
    }
}

.contribute-button {
    padding-top: 30px;

    a {
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        svg {
            margin-right: 10px;
        }
    }


}

#flags {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  canvas {
    display: none;
  }
}

.score-box {
  display: flex;   

}

.score-title {
  display: flex; 
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
}

.score-detail {
  white-space: nowrap;
  i { 
    overflow: hidden;
    max-width: 18ch;
    text-overflow: ellipsis;
  }
  padding-left: 15px;
  small {
    font-size: 9px;
  }
  display: flex; 
  justify-content: center;
  flex-direction: column;
}