<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%- seo -%} 
        {% capture maincss %}{% include custom.scss %}{% endcapture %}
  </head>

  <body>
      <style type="text/css">
        {{ maincss | scssify }}
      </style>
    <div class="container">
        <div class="column">
          <h1>Perú Top Coders</h1>
          <p>based on github stats</p>
        </div>
        <div class="column">
            {{ content }}
        </div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146523280-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146523280-1');
    </script>


  </body>

</html>